---
import SinglePage from '../layouts/SinglePage.astro';
import Callout from '../components/Callout.astro';
---
<SinglePage>
    <h1>Hi there</h1>
    <p>
        Welcome to Neil&rsquo;s Hindi Files! This is a project I am working on
        as a way to document and consolidate my learning of Hindi, as a native
        English speaker.
    </p>
    <Callout title="A little note">
        Just a heads up that these are my own study notes, and they&rsquo;re not
        intended to be used as a learning resource by others. You are of course
        welcome to read them, that is why they&rsquo;re online, just take
        things with a grain of salt when it comes to factual accuracy: I am
        writing about this language as I understand it, and I do not really
        understand it all too well.
    </Callout>

    <h2>The Very Basics</h2>
    <p>
        These pages are for the super foundational things. Not much of the rest
        of this will make sense without this knowledge, but on the other hand I
        probably haven&rsquo;t explained this stuff as well as everyone else
        has, so feel free to skip if you want.
    </p>
    <ul>
        <li>
            <a href="/basics/writing">The writing system</a>: a list of letters,
            and a bit of discussion around how and why they get joined.
        </li>
    </ul>
</SinglePage>