---
import SinglePage from '../layouts/SinglePage.astro';
---
<SinglePage>
    <h1>Hi there</h1>
    <p>
        Welcome to Neil&rsquo;s Hindi Files! This is a project I am working on
        as a way to document and consolidate my Hindi vocab.
    </p>
</SinglePage>