---
import SinglePage from '../layouts/SinglePage.astro';
---
<SinglePage>
    <h1>Hi there</h1>
    <p>
        Welcome to Neil&rsquo;s Hindi Files! This is a project I am working on
        as a way to document and consolidate my Hindi vocab.
    </p>

    <h2>The Very Basics</h2>
    <p>
        These pages are for the super foundational things. Not much of the rest
        of this will make sense without this knowledge, but on the other hand I
        probably haven&rsquo;t explained this stuff as well as everyone else
        has, so feel free to skip if you want.
    </p>
    <ul>
        <li>
            <a href="/basics/writing">The writing system</a>: mostly just a reference.
        </li>
    </ul>
</SinglePage>