---
type Props = {
    readonly letter: string;
} | {
    readonly blank: true;
};
const { letter } = Astro.props;
---

<div class="outlined">
    {letter ? (
	<dt lang="hi">{letter}</dt>
	<dd><slot /></dd>
    ) : (
	<em>Left blank</em>
    )}
</div>

<style>
    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        border-radius: 0.5ch;
        padding: 0.5rem 1ch;
    }

    dt {
        justify-self: center;
        font-size: 1.5em;
    }

    dd {
        margin-left: 0;
    }

    em {
	display: block;
	align-self: center;
	justify-self: center;
	grid-row: 1 / 3;
    }
</style>
