---
interface Props {
    readonly letter: string;
}
const { letter } = Astro.props;
---

<div class="outlined">
    <dt lang="hi">{letter}</dt>
    <dd><slot /></dd>
</div>

<style>
    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        border-radius: 0.5ch;
        padding: 0.5rem 1ch;
    }

    dt {
        justify-self: center;
        font-size: 1.5em;
    }

    dd {
        margin-left: 0;
    }
</style>