---
interface Props {
    readonly title?: string;
}
const { title } = Astro.props;

import githubLogo from '@fortawesome/fontawesome-free/svgs/brands/github.svg';
---
<style>
    nav {
        background-color: lightblue;
        padding: 0.5rem 1ch;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2 {
        margin: 0;
    }

    img {
        width: 1rem;
        vertical-align: middle;
    }
</style>

<nav>
    {title
        ?
            <h2>
                <a href="/">Neil&rsquo;s Hindi Files</a>
                &mdash;
                {title}
            </h2>
        :
            <h2>
                Neil&rsquo;s Hindi Files
            </h2>
    }
    <a href="https://github.com/ashfordneil/hindi-files">
        Fork me on
        <img src={githubLogo.src} alt="Github"/>
    </a>
</nav>